<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Welcome To My World</title>
    <meta charset="UTF-8" />
    <!--  <link rel="stylesheet" type="text/css" href="../assets/css/reset.css"> -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <div class="center">
                <img src="../assets/img/pfppic.jpg" alt="Profile Pic" />
            </div>

            <h1>Vinícius</h1>
            <h2>Desenvolvedor Web</h2>
        </header>

        <main>
            <section>
                <h3>Sobre mim</h3>
                <p>
                    Cursando Ciência da Computação e atualmente trabalhando na ***, busco sempre aprender algo novo e
                    aprimorar minhas habilidades. Gosto de programação e tenho bastante interesse em tecnologia. Sou
                    apaixonado por tecnologia e desenvolvimento web.
                    Meu objetivo é viajar mundo a fora e aprender mais sobre novas culturas e conhecer novas pessoas.
                </p>
            </section>
            <section>
                <h3>Formação</h3>
                <p>
                    <strong>Curso:</strong> Ciência da Computação<br />
                    <strong>Instituição:</strong> IFSC<br />
                    <strong>Ano de conclusão:</strong> 2022
                </p>
            </section>
            <section>
                <h3>Cursos</h3>
                <p>
                    <strong>Curso:</strong> Técnico em Informática<br />
                    <strong>Instituição:</strong> IFSC<br />
                    <strong>Ano de conclusão:</strong> 2017
                </p>
            </section>
    </div>
    </main>
</body>

</html>